# Name: Graubild
# Author: Matthias Drummer
# Version: 0.1.0

# A single .jar file can contain multiple plugins, specified in separate lines.
#
# The format is: <menu>, "<menu label>", <class name>
#
# If something like ("<arg>") is appended to the class name, the setup() method
# will get that as arg parameter; otherwise arg is simply the empty string.
# @See: http://fiji.sc/wiki/index.php/Introduction_into_Developing_Plugins#What_are_plugins_.28in_terms_of_menu_entries.29.3F

Plugins>Beleg, "Aufgabe 6", de.htw.berlin.student.gespic.Zyto_Variance